@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
/* ไม่อยากให้ scrollbar มี style */
::-webkit-scrollbar {
  display: none;
=======
*{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
>>>>>>> 5c641aaef1788cdbe9a9bafddb4e8a4a4ff22491
}

